



.conteudo-main .banner-quartos{

   
   height: 200px;

}

.quarto-casal img,
.quarto-solteiro img,
.quarto-familia img{

width: 300px;
height: 200px;
}

h4{
font-size: 22px;
text-align: center;
padding: 20px;

}
.container-lista{
max-width: 800px;
}
.lista{
 display: flex;
 justify-content: space-between;
flex-wrap: wrap;
 line-height: 30px;
 

}
.lista li{
    text-align: justify;
    font-size: 15px;   
}
.rodape-quartos{

    margin-top: 40px;
}