

:root{

  --color-white-Of-course :#fff;
   --color-white-Average: #f1f3f7;
   --color-white-dark: #f6f6f6; 
   --color-monday: #a89f9f;
    --color-third: #233032;
    --color-primary: #2f86d6;


}