body{
    background-color: #f1f1f1;
    text-align: center;
    color: #606062;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 100px;
    
}
#container-principal{
    width: 600px;     
    
   margin: auto;

}
/*cabecalho*/

#container-cabecalho h1{
   border: 5px solid #606062;
   padding: 10px;
   font-size: 23px;
}
#container-cabecalho h2{
    font-size: 18px;
    padding: 10px;
    
}

/*Conteudo Principal*/


#conteudo-principal h3,
#container-contato h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    border-top: 2px solid #606062;
    border-bottom:2px solid #606062;
    padding: 10px;

}
#conteudo-principal p,
#container-contato p{
    text-align: justify;
    align-items: center;
    line-height: 28px;
    font-size: 18px;
    font-weight: lighter;

}
#btn-contato{
    background-color: #25D366;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    
}
#btn-contato a{
   text-decoration: none;
   font-size: 18px;
   color: white;
   font-weight: bold;
   text-align: center;
   
   
}



