footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

footer span{
    color: var(--color-primary);
}
footer p{
    font-size: 19px;
    font-weight: 400;
}