
/*@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*/


/*
PALETAS DE CORES
*/


*{
margin: 0;
font-family: sans-serif;

}


.limite-largura{
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;

}




/*FONTES*/

.cabecalho nav ul li a{
    font-family: 'Oswald', sans-serif;
}


main .banner h1{

    font-family: 'fraunces' ;
}

main h2{
    font-family: 'Oswald' , sans-serif;
}
main .text{

    font-family: 'Lato',sans-serif  ;
}

main .container-img01 h3,
main .container-img02 h3,
main .container-img03 h3{
    font-family: 'fraunces';
}


.contato-listas li{

font-family: 'fraunces';

}
