header{
    width: 100%;
    
    padding: 30px;
}
.topo{

 max-width: 1024px;
display: flex;
align-items: center;
 position: relative;  
}
 .topo .text-logo{
    padding-left: 10px;
 }
.topo .text-logo h1{
    font-size: 25px;
}
.topo .text-logo p{
    font-weight: 600;
    font-size: 15px;
    color: var(--color-primary);
}
.topo img{
    width: 6%;
    
}

.topo ul {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 19px;
    color: black;
    gap: 10px;
    list-style: none;
}

.topo ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

