.banner {
   width: 100%;
    background-color: var(--color-primary);
}
.Conteudo-banner{
    
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Conteudo-banner .banner-text{
    color: var(--color-white-Of-course);
    padding: 20px
}
.Conteudo-banner .banner-text h2{
    padding: 20px 0;
    font-weight: 800 ;
    width: 94%;
}