:root{

    --color-white-Of-course :#fff;
     --color-white-Average: #f1f3f7;
     --color-white-dark: #f6f6f6; 
     --color-monday: #a89f9f;
      --color-third: #233032;
      --color-primary: #2f86d6;
  
  
  }
/* BANNER */

.banner {
   width: 100%;
    background-color: var(--color-primary);
}
.Conteudo-banner{
    padding: 80px 0px;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Conteudo-banner .banner-text{
    color: var(--color-white-Of-course);
    padding: 20px
}
.Conteudo-banner .banner-text h2{
    padding: 20px 0;
    font-weight: 800 ;
    width: 94%;
}

.Conteudo-banner .img-banner{

width: 100%;

}


/* ANUNCIO */

.anuncio{
    background-color: var(--color-third);
}
.anuncio .conteudo-anuncio
   
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center ;
    width: 100%;
    max-width: 1024px;
    padding: 40px 0;
    
}

.anuncio  .conteudo-anuncio,h3,p,a{
    color: var(--color-white-Average);
    
}

.anuncio .conteudo-anuncio .link-preço{

background-color: var(--color-primary);
padding: 15px 50px;
box-sizing: border-box;

}

.anuncio ,.conteudo-anuncio .anuncio-text{

    text-align: justify;
}

.anuncio .conteudo-anuncio .link-preço a{

    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.anuncio2{
    background-color: var(--color-primary) !important;
}
.link-preço2 {
    background-color: var(--color-third) !important;

}
.anuncio-text2{

width: 40%;

}

/* INFORMAÇOES */

.informacoes{
margin: 100px 0;

width: 100%;
}
.informacoes .conteudo-informacoes h2{

display: block;
margin: 50px auto ;
width: 70%;
color: black;
text-align: center;
}

.informacoes .conteudo-informacoes {

max-width: 1024px;

}
.informacoes .container-icon img{

width: 30%;

}


.informacoes .subContainer-informacoes{

display: flex;

}
.informacoes .subContainer-informacoes .container-icon
 {
 margin:  0 20px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.informacoes .subContainer-informacoes .container-icon h3{
    padding: 20px 0;
    color: black;

}
.informacoes .subContainer-informacoes .container-icon p{
color: black;
width: 100%;

}



/* Planos */
.planos{


margin-top: 100px;
margin-bottom: 90px;

}
.conteudo-planos{
max-width: 1024px;
background-color: orange;

}

.tabela-de-planos{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: green;
    margin: 30px;
    

}
.tabela-de-planos img{

width: 40%;

}
.tabela-de-planos  tbody th{
    padding: 5px 0 20px;
    font-size: 15px;
    
    color: var(--color-monday);
}
.tabela-de-planos td{


line-height: 50px

}


/* RODAPE */



.rodape .conteudo-rodape{
    max-width: 1024px;
    
    text-align: center;
    padding: 50px 0 20px 0;
    

}
.conteudo-rodape .icone-logo{

display: flex;
justify-content: center;
text-align:justify ;

}
.conteudo-rodape .contatos{

padding: 30px 0;

}
.conteudo-rodape .contatos p {
color: black;
font-weight: 500;
line-height: 40px;
font-size: 15px;

}
.conteudo-rodape  p{
font-size: 18px;
font-weight: 500;
color: black ;

}
 span{
    font-weight: bold;
    color: var(--color-primary);
}



