@media (max-width: 415px) {

    /* header */
    .container-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 414px;


    }

    .container-top img {
        margin: auto;

    }

    .container-top .links-top {
        padding: 10px 20px 10px 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.315);

    }

    /* banner */

    .banner {

        width: 100%;
        height: 200px;
       

    }

    .banner p {
        font-size: 30px;
        height: 100%;
        width: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        


    }
    /* MAIN */
    .conteudo-principal{

        overflow-x: auto;
    }
    .container-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;  

    }
    .container-principal .container-list-img img{
        display: none  ;
    }
    .especialidades-img{
        flex-direction: column;
        display: flex;
        width: 800px;
    }
    .list-sobre{
        padding-right: 100px;
        line-height: 30px;
        box-sizing: border-box;
    }
    .list-sobre ul  li {

        text-align: center;
    }
.container-contato iframe{

    width: 350px;
}
}


@media (max-width:768px){
    .conteudo-principal{

        overflow-x: auto;
    }
}
    .banner {
       background-size: cover;
        height: 300px;
        width: 100%;
        
    }
    .banner p{
        height: 100%;
        width: 100%;
        
        box-sizing: border-box;

    }
    .especialidades-img{

        display: flex;
        flex-wrap: wrap;
    }
