:root{

    --color-white-Of-course :#fff;
     --color-white-Average: #f1f3f7;
     --color-white-dark: #f6f6f6; 
     --color-monday: #a89f9f;
      --color-third: #233032;
      --color-primary: #2f86d6;
  
  
  }

header {
    padding: 9px;
    width: 100%;
    background-color: var(--color-primary);

}

.limite-largura {
    margin: 0 auto;
}

.topo {
    
    justify-content: space-between;
    display: flex;
    max-width: 1024px;
    
}


.topo .img-logo {
    width: 60px;
    height: 70px;
    margin: 20px;
}
.conteudo-topo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.conteudo-topo .topo-text p{
    font-weight: 500;
    color: #fff;
    font-size: 15px;
}
.conteudo-topo .topo-text h1{
font-size: 25px;

}

.topo nav{
   display: flex;
    align-items: center;
}
.topo nav ul{
    display: flex;
    gap: 20px;
    
}
.topo nav ul li{
    list-style: none;
    
}
.topo nav ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}




/* FOOTER */

.rodape{
<<<<<<< Updated upstream:HTML-CSS/Provedor de Hospedagem/tabela-de-preços/css-preço/preco-header-footer.css
=======
padding-top: 100px;


>>>>>>> Stashed changes:HTML-CSS/Provedor de Hospedagem/tabela-de-preços/css-preço/preco-header.css
width: 100%;
background-color: var(--color-primary);
}
.conteudo-rodape{
max-width: 1024px;  
text-align: center;
padding: 50px;


}
.conteudo-rodape p{
    color: var(--color-white-Average);
    font-weight: 600;
    
}

.rodape-logo{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: justify;
    
}

.rodape-logo img{

    width: 80px;
}

.rodape-text{
    padding: 20px;
}
.rodape-text p{
    
    color: #fff;
}

.rodape .creditos-gustavo{
<<<<<<< Updated upstream:HTML-CSS/Provedor de Hospedagem/tabela-de-preços/css-preço/preco-header-footer.css
    padding: 15px;
    text-align: center;
    background-color: #fff;
}
span{
font-weight: 700;
color: var(--color-primary);

}
.rodape .creditos-gustavo p{

color: black;
font-weight: 600;

}




=======
    padding: 10px;
    background-color: #fff;
}
.rodape .creditos-gustavo p{
    text-align: center;
    font-weight: 600;
}
>>>>>>> Stashed changes:HTML-CSS/Provedor de Hospedagem/tabela-de-preços/css-preço/preco-header.css
