header {

    width: 100%;
    background-color: green;

}

.limite-largura {
    margin: 0 auto;
}

.topo {
    
    
    display: flex;
    max-width: 1024px;
    background-color: orange;
    padding: 10px;
}

.topo .img-logo {
    
    width: 20%;

}
.conteudo-topo{
    display: flex;
}

